@use './partials/mixin' as *;
@use './partials/variables' as *;

*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
}

.ivy_section_title{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: red;
    text-align: center;
    padding: 1rem 0;
}

.ivy_filter_white{
    filter: invert(1);
}

.fa-star{
    color: gold;
}